* {
  margin: 15;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75vh;
}
#pro-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  background-color: rgba(134, 134, 207, 0.409);
  padding: 15px;
  border-radius: 10px;
  outline: solid white 5px;
}
#show-pro-container {
  margin: 10px;
}

.player-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-form > * {
  margin: 2px;
  border-radius: 5px;
}

#index-pro-container {
  color: rgb(18, 18, 103);
  text-align: center;
}

#create-pro-form > ::placeholder {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-pro-form > input {
  background-color: rgb(108, 108, 207);
  color: white;
  border-radius: 5px;
  width: 10 vh;
  height: 3vh;
  outline: solid white 5px;
}

button {
  background-color: rgb(108, 108, 207);
  color: white;
  border-radius: 5px;
}

.delete-button {
  background-color: rgb(211, 38, 38);
  outline: white solid 2px;
  margin-top: 5px;
}

.update-button {
  background-color: rgb(63, 116, 20);
  color: white;
  outline: white solid 2px;
  margin-top: 5px;
}
