* {
  margin: 15;
}

body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 75vh;
}
#pro-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vh;
  background-color: rgba(134, 134, 207, 0.409);
  padding: 15px;
  border-radius: 10px;
}

#index-pro-container {
  color: rgb(18, 18, 103);
  text-align: center;
}

#create-pro-form > ::placeholder {
  color: white;
}

#create-pro-form > input {
  background-color: rgb(108, 108, 207);
  color: white;
  border-radius: 5px;
}

button {
  background-color: rgb(108, 108, 207);
  color: white;
  border-radius: 5px;
}
